[Unit]
Description=Comfy Watcher Service
After=network.target

[Service]
Type=simple
Environment="AWS_SQS_NAME=ai-worker.fifo"
Environment="AWS_S3_BUCKET=your-bucket-name"
ExecStart=/home/comfyui/comfy-watcher/venv/bin/python3 /home/comfyui/comfy-watcher/comfy-watcher.py
Restart=on-failure
User=comfyui
Group=comfyui

[Install]
WantedBy=multi-user.target